<html>
    <head>
        <title>Title of page</title>
    </head>
    <body>
        <img src="{{ url_for('static', filename='india.jpg')}}"
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam donec adipiscing tristique risus nec feugiat in fermentum. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Aenean sed adipiscing diam donec. Faucibus pulvinar elementum integer enim neque.
        </p>
        <p>
            Ultrices sagittis orci a scelerisque purus semper eget. Massa sed elementum tempus egestas sed sed risus pretium. Consectetur lorem donec massa sapien faucibus et. Egestas integer eget aliquet nibh praesent tristique magna sit. Feugiat pretium nibh ipsum consequat nisl vel. Malesuada nunc vel risus commodo viverra maecenas accumsan. Sapien pellentesque habitant morbi tristique. In fermentum et sollicitudin ac orci.
        </p>
    </body>
</html>